@model CreateModel
@{
    ViewData["Title"] = "Create User";
}
<br />
<div class="row">
    <div class="col-6">
        <h3 class="">Admin Create</h3>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Index" class="btn btn-ekle">Back To List</a>
    </div>
</div>
<br />
<form method="post" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col" style="border:2px solid;">
        <div class="row mb-1 create-style">
            <div class="col-2">
                <label asp-for="Admin"></label>
            </div>
            <div class="col-4">
                <select asp-for="Admin" asp-items="Html.GetEnumSelectList<CreateModel.EAdmin>()" class="form-control">
                    <option value="" selected="selected">&lt;Select&gt;</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 create-style">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-4">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="row mb-1 create-style">
            <div class="col-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-4">
                <input asp-for="Email" type="email" class="form-control" />
            </div>
        </div>
        <div class="row mb-1 create-style">
            <div class="col-2">
                <label asp-for="Password"></label>
            </div>
            <div class="col-4">
                <input asp-for="Password" type="password" class="form-control" />
            </div>
        </div>
        <div class="row create-style">
            <div class="col-2"></div>
            <div class="col-4 text-right pt-2 pb-2">
                <input type="submit" class="btn btn-gnc" style="border-color:white;" value="Create" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}